openapi: 3.0.3
info:
  title: E-Commerce API
  version: 1.0.0
  description: >
    A production-ready, enterprise-grade RESTful API for modern e-commerce platforms.
    Built with Clean Architecture, CQRS, and Domain-Driven Design.
servers:
  - url: https://site67484.siteasp.net/
    description: Live Production Environment (Monster ASP.NET)

security:
  - bearerAuth: []

paths:
  /api/Auth/login:
    post:
      summary: Login and receive JWT
      tags:
        - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Result'
                  - type: object
                    properties:
                      value:
                        $ref: '#/components/schemas/AuthResponse'

  /api/customer/products:
    get:
      summary: Browse products
      tags:
        - Products (Customer)
      security: []
      parameters:
        - in: query
          name: cursor
          schema:
            type: string
          description: Cursor for pagination
        - in: query
          name: limit
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: A list of products
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Result'
                  - type: object
                    properties:
                      value:
                        $ref: '#/components/schemas/CursorPagedProductResult'

  /api/cart:
    get:
      summary: View cart
      tags:
        - Cart
      responses:
        '200':
          description: Current user's shopping cart
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Result'
                  - type: object
                    properties:
                      value:
                        $ref: '#/components/schemas/CartResponse'

  /api/cart/items/{productId}:
    post:
      summary: Add item to cart
      tags:
        - Cart
      parameters:
        - in: path
          name: productId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                quantity:
                  type: integer
                  example: 1
      responses:
        '200':
          description: Item added successfully

  /api/orders:
    post:
      summary: Place an order
      tags:
        - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceOrderRequest'
      responses:
        '200':
          description: Order placed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Result'
                  - type: object
                    properties:
                      value:
                        type: string
                        format: uuid
    get:
      summary: List my orders
      tags:
        - Orders
      responses:
        '200':
          description: List of user's orders
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Result'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/OrderResponse'

  /api/addresses:
    get:
      summary: List addresses
      tags:
        - Address Management
      responses:
        '200':
          description: List of user's addresses
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Result'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/AddressResponse'
    post:
      summary: Add a new address
      tags:
        - Address Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAddressRequest'
      responses:
        '200':
          description: Address created

  /api/vendor/products:
    get:
      summary: List own products
      tags:
        - Vendor Storefront
      responses:
        '200':
          description: Vendor's products
    post:
      summary: Create product
      tags:
        - Vendor Storefront
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
      responses:
        '200':
          description: Product created

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Standard JWT Bearer token authentication

  schemas:
    Result:
      type: object
      properties:
        isSuccess:
          type: boolean
          example: true
        isFailure:
          type: boolean
          example: false
        error:
          $ref: '#/components/schemas/Error'
        value:
          type: object
          nullable: true
          description: The actual data payload when successful
      required:
        - isSuccess
        - isFailure
        - error

    Error:
      type: object
      properties:
        code:
          type: string
          example: "Error.None"
        message:
          type: string
          example: "No error occurred"

    LoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    AuthResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        expiresIn:
          type: integer

    CursorPagedProductResult:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProductResponse'
        nextCursor:
          type: string
          nullable: true
        hasNextPage:
          type: boolean

    ProductResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        price:
          type: number
          format: decimal

    CartResponse:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              productId:
                type: string
                format: uuid
              quantity:
                type: integer
        totalPrice:
          type: number
          format: decimal

    PlaceOrderRequest:
      type: object
      properties:
        shippingAddressId:
          type: string
          format: uuid
        paymentMethod:
          type: string

    OrderResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
        totalAmount:
          type: number

    AddressResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        street:
          type: string
        city:
          type: string
        isDefault:
          type: boolean

    AddAddressRequest:
      type: object
      properties:
        street:
          type: string
        city:
          type: string
        state:
          type: string
        zipCode:
          type: string

    CreateProductRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        price:
          type: number
        categoryId:
          type: string
          format: uuid
